.new-tweet {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0.5em;
  height: 6.5em;
  width: 90%;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.submission {
  display: flex;
  justify-content: space-between;
}

label {
  display: flex;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  color: #433d3c;
}

#tweet-text {
  height: 40%;
  background-color: #dddddd;
  border: none;
  border-bottom: 4px solid #252525;
  resize: none;
  font-size: 18px;
}

button {
  border: none;
  background-color: #4056A1;
  font-family: 'Bungee', sans-serif;
  color: white;
  padding: 4px 12px 4px 12px;
  font-size: 20px;
}

output {
  font-family: 'Bungee', sans-serif;
}